charts
[{"id":"b408c135.eea58","type":"tab","label":"Charts","disabled":false,"info":""},{"id":"86f3cc91.3f265","type":"function","z":"b408c135.eea58","name":"","func":"var m={};\nm.labels = [\"January\",\"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["68a9df6c.1f555","a22b0cdb.df027","78723248.34957c","bab32034.9c9"]]},{"id":"68a9df6c.1f555","type":"ui_chart","z":"b408c135.eea58","name":"","group":"8ef0ae96.998d6","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":100,"wires":[[],[]]},{"id":"b3d8debb.519c","type":"function","z":"b408c135.eea58","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["68a9df6c.1f555","b24df575.71dd8"]]},{"id":"7c33234f.086aec","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":200,"wires":[["b3d8debb.519c"]]},{"id":"a22b0cdb.df027","type":"ui_chart","z":"b408c135.eea58","name":"","group":"8ef0ae96.998d6","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":160,"wires":[[],[]]},{"id":"99d1548f.f85718","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":5,"width":0,"height":0,"passthru":false,"label":"array","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":360,"wires":[["86f3cc91.3f265"]]},{"id":"77248b9f.ba7654","type":"inject","z":"b408c135.eea58","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":560,"wires":[["216d4e36.0caa22"]]},{"id":"a6d9dde1.798d","type":"function","z":"b408c135.eea58","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["68a9df6c.1f555","a22b0cdb.df027","78723248.34957c","bab32034.9c9"]]},{"id":"7c92915b.62cd5","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":400,"wires":[["a6d9dde1.798d"]]},{"id":"66dbcf79.bb022","type":"function","z":"b408c135.eea58","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["68a9df6c.1f555"]]},{"id":"3b52ec42.fc2bc4","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":240,"wires":[["66dbcf79.bb022"]]},{"id":"9bca3d8c.ea96b","type":"function","z":"b408c135.eea58","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["bab32034.9c9","a22b0cdb.df027","68a9df6c.1f555","c30ca7ac.dd6a58","49967de6.87d484","78723248.34957c"]]},{"id":"bab32034.9c9","type":"ui_chart","z":"b408c135.eea58","name":"pie chart","group":"8ef0ae96.998d6","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":340,"wires":[[],[]]},{"id":"1ee57280.1a192e","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":170,"y":600,"wires":[["9bca3d8c.ea96b"]]},{"id":"285f6918.ea7386","type":"function","z":"b408c135.eea58","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["68a9df6c.1f555"]]},{"id":"ad9bf736.965208","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":280,"wires":[["285f6918.ea7386"]]},{"id":"52e745ae.f44b4c","type":"function","z":"b408c135.eea58","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["68a9df6c.1f555"]]},{"id":"4037877f.565d08","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":320,"wires":[["52e745ae.f44b4c"]]},{"id":"24fec26d.3714be","type":"function","z":"b408c135.eea58","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["68a9df6c.1f555","a22b0cdb.df027","bab32034.9c9","c30ca7ac.dd6a58","49967de6.87d484","78723248.34957c"]]},{"id":"d02eb369.ff597","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":520,"wires":[["24fec26d.3714be"]]},{"id":"b4030681.f218a8","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":180,"y":640,"wires":[["77e89a28.125344"]]},{"id":"77e89a28.125344","type":"function","z":"b408c135.eea58","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":330,"y":640,"wires":[["bab32034.9c9","a22b0cdb.df027","49967de6.87d484","c30ca7ac.dd6a58","68a9df6c.1f555","78723248.34957c"]]},{"id":"159eadad.d50312","type":"function","z":"b408c135.eea58","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["a22b0cdb.df027","bab32034.9c9","68a9df6c.1f555","78723248.34957c"]]},{"id":"c9c6b357.97a51","type":"inject","z":"b408c135.eea58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":160,"wires":[["159eadad.d50312"]]},{"id":"a3de7aff.6835b8","type":"function","z":"b408c135.eea58","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["a22b0cdb.df027","bab32034.9c9","68a9df6c.1f555","78723248.34957c"]]},{"id":"e35b2f12.a44c","type":"inject","z":"b408c135.eea58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":120,"wires":[["a3de7aff.6835b8"]]},{"id":"44fe2c09.b1b504","type":"function","z":"b408c135.eea58","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["a22b0cdb.df027","c30ca7ac.dd6a58","49967de6.87d484","68a9df6c.1f555","78723248.34957c","bab32034.9c9"]]},{"id":"37be2920.ff35c6","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":440,"wires":[["44fe2c09.b1b504"]]},{"id":"368a388c.5d7dd8","type":"function","z":"b408c135.eea58","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["a22b0cdb.df027","68a9df6c.1f555","49967de6.87d484","c30ca7ac.dd6a58","78723248.34957c","bab32034.9c9"]]},{"id":"6d2ea4d8.c83d1c","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":480,"wires":[["368a388c.5d7dd8"]]},{"id":"78723248.34957c","type":"ui_chart","z":"b408c135.eea58","name":"","group":"19264e2f.a69ca2","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":220,"wires":[[],[]]},{"id":"c30ca7ac.dd6a58","type":"ui_chart","z":"b408c135.eea58","name":"","group":"19264e2f.a69ca2","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":460,"wires":[[],[]]},{"id":"49967de6.87d484","type":"ui_chart","z":"b408c135.eea58","name":"","group":"19264e2f.a69ca2","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":520,"wires":[[],[]]},{"id":"1583db3f.1d0475","type":"function","z":"b408c135.eea58","name":"label","func":"var m = [\n    {label:\"A\", payload:22, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["bab32034.9c9","a22b0cdb.df027","68a9df6c.1f555","78723248.34957c"]]},{"id":"d9b3b70b.72cbf8","type":"inject","z":"b408c135.eea58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":80,"wires":[["1583db3f.1d0475"]]},{"id":"285cc1c9.b13ade","type":"ui_button","z":"b408c135.eea58","name":"","group":"808906d8.85cb28","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":300,"y":40,"wires":[["49967de6.87d484","c30ca7ac.dd6a58","bab32034.9c9","78723248.34957c","a22b0cdb.df027","68a9df6c.1f555"]]},{"id":"216d4e36.0caa22","type":"random","z":"b408c135.eea58","name":"","low":"1","high":"10000000","inte":"true","x":340,"y":560,"wires":[["68a9df6c.1f555"]]},{"id":"b24df575.71dd8","type":"debug","z":"b408c135.eea58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":280,"wires":[]},{"id":"8ef0ae96.998d6","type":"ui_group","z":"","name":"Charts","tab":"37ffcf5d.69972","order":2,"disp":false,"width":"6"},{"id":"808906d8.85cb28","type":"ui_group","z":"","name":"Inputs","tab":"37ffcf5d.69972","order":1,"disp":false,"width":"6"},{"id":"19264e2f.a69ca2","type":"ui_group","z":"","name":"Group 3","tab":"37ffcf5d.69972","order":3,"disp":false,"width":"6"},{"id":"37ffcf5d.69972","type":"ui_tab","z":"","name":"Charts","icon":"fa-area-chart","order":2}]
