logging
[{"id":"c13534fd.0ac5b8","type":"tab","label":"Logging","disabled":false},{"id":"e4b093f0.ccd27","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":117,"y":260,"wires":[["f37b1594.3a6928"]]},{"id":"f37b1594.3a6928","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"msg.topic = \"SELECT * FROM state ORDER BY sta_id\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":260,"wires":[["fc309c34.c3705"]]},{"id":"f2f733ca.8685b","type":"function","z":"c13534fd.0ac5b8","name":"Process states","func":"global.set(\"Diag_State_Buffer\",msg.payload);\n\nvar output = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    //output.push( \"[\"+msg.payload[i].id+\"] \"+msg.payload[i].caption);\n    obj = {};\n    \n    obj [\"[\"+msg.payload[i].sta_id+\"] \"+msg.payload[i].sta_title]=msg.payload[i].sta_id;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":261,"wires":[["db9aa5b4.516b78"]]},{"id":"db9aa5b4.516b78","type":"ui_dropdown","z":"c13534fd.0ac5b8","name":"","label":"Select","group":"b15bdec1.a0ae","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":830,"y":261,"wires":[["340f11ed.c1e9de"]]},{"id":"70f614b3.c6367c","type":"ui_text_input","z":"c13534fd.0ac5b8","name":"","label":"Caption","group":"b15bdec1.a0ae","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":847,"y":379,"wires":[["8823eb41.d76df8"]]},{"id":"b2839834.2c7598","type":"ui_colour_picker","z":"c13534fd.0ac5b8","name":"","label":"Color","group":"b15bdec1.a0ae","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"order":4,"width":0,"height":0,"passthru":false,"topic":"","x":846,"y":423,"wires":[["d48aa619.1dc128"]]},{"id":"340f11ed.c1e9de","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"global.set(\"diag_state_selected\",msg.payload);\nmsg.topic = \"SELECT * FROM state WHERE sta_id=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":119,"y":375,"wires":[["b41b8878.e02398"]]},{"id":"29b40d5f.47db82","type":"switch","z":"c13534fd.0ac5b8","name":"If no data","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":449,"y":375,"wires":[["8edff127.3ae69","dda98ef5.a698a","a385cc41.2bdcc"]]},{"id":"8edff127.3ae69","type":"change","z":"c13534fd.0ac5b8","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sta_title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":649,"y":379,"wires":[["70f614b3.c6367c"]]},{"id":"dda98ef5.a698a","type":"change","z":"c13534fd.0ac5b8","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sta_color","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":647,"y":423,"wires":[["b2839834.2c7598"]]},{"id":"5e4bb21b.1d7ccc","type":"ui_numeric","z":"c13534fd.0ac5b8","name":"","label":"ID","group":"b15bdec1.a0ae","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":840,"y":342,"wires":[["50d004ee.f68a7c"]]},{"id":"a385cc41.2bdcc","type":"change","z":"c13534fd.0ac5b8","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sta_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":654,"y":342,"wires":[["5e4bb21b.1d7ccc"]]},{"id":"5faf8945.636418","type":"ui_button","z":"c13534fd.0ac5b8","name":"","group":"b15bdec1.a0ae","order":0,"width":0,"height":0,"label":"Create New","color":"","bgcolor":"","icon":"add","payload":"","payloadType":"str","topic":"","x":108,"y":189,"wires":[["785c3309.73b3dc"]]},{"id":"785c3309.73b3dc","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"msg.topic = \"INSERT INTO state (sta_id,sta_caption,sta_color) VALUES (101,'New state','ffffff')\";\nglobal.set(\"diag_state_selected\",undefined);\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":189,"wires":[["978953bf.ad3e4"]]},{"id":"50d004ee.f68a7c","type":"function","z":"c13534fd.0ac5b8","name":"Store value","func":"global.set(\"diag_state_id\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1026,"y":341,"wires":[[]]},{"id":"8823eb41.d76df8","type":"function","z":"c13534fd.0ac5b8","name":"Store value","func":"global.set(\"diag_state_caption\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1028,"y":379,"wires":[[]]},{"id":"d48aa619.1dc128","type":"function","z":"c13534fd.0ac5b8","name":"Store value","func":"global.set(\"diag_state_color\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1031,"y":419,"wires":[[]]},{"id":"2a1d94ee.3fd20c","type":"ui_button","z":"c13534fd.0ac5b8","name":"","group":"b15bdec1.a0ae","order":0,"width":0,"height":0,"label":"Update selected","color":"","bgcolor":"#FF9000","icon":"mode_edit","payload":"","payloadType":"str","topic":"","x":116,"y":145,"wires":[["e1e5c03f.03355"]]},{"id":"e1e5c03f.03355","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"if (global.get(\"diag_state_selected\")!==undefined) {\n    msg.topic = \"UPDATE state SET \";\n    if (global.get(\"diag_state_id\")!==undefined) {\n        msg.topic = msg.topic+ \"sta_id=\"+global.get(\"diag_state_id\")+\", \";\n    }\n    if (global.get(\"diag_state_caption\")!==undefined) {\n        msg.topic = msg.topic+ \"sta_name='\"+global.get(\"diag_state_caption\")+\"', \";\n    }\n    if (global.get(\"diag_state_color\")!==undefined) {\n        msg.topic = msg.topic+ \"sta_color='\"+global.get(\"diag_state_color\")+\"', \";\n    }\n    msg.topic = msg.topic.substring(0,msg.topic.length-2);\n    msg.topic = msg.topic+ \" WHERE sta_id=\"+global.get(\"diag_state_selected\");\n    global.set(\"diag_state_selected\",undefined);\n    global.set(\"diag_state_id\",undefined);\n    global.set(\"diag_state_caption\",undefined);\n    global.set(\"diag_state_color\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":291,"y":145,"wires":[["492496d6.239558"]]},{"id":"91c536b4.e84a08","type":"ui_button","z":"c13534fd.0ac5b8","name":"","group":"b15bdec1.a0ae","order":0,"width":0,"height":0,"label":"Delete selected","color":"","bgcolor":"#ff5555","icon":"delete","payload":"","payloadType":"str","topic":"","x":117,"y":97,"wires":[["81e70de4.0d9fa"]]},{"id":"81e70de4.0d9fa","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"if (global.get(\"diag_state_selected\")!==undefined) {\n    msg.topic = \"DELETE FROM state WHERE sta_id=\"+global.get(\"diag_state_selected\");\n    global.set(\"diag_state_selected\",undefined);\n    global.set(\"diag_state_id\",undefined);\n    global.set(\"diag_state_caption\",undefined);\n    global.set(\"diag_state_color\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":97,"wires":[["e8cd8c6c.d77ef"]]},{"id":"d0a7cf81.3b51f","type":"comment","z":"c13534fd.0ac5b8","name":"Maintenance of the State table","info":"","x":165,"y":50,"wires":[]},{"id":"d46e910a.88896","type":"ui_toast","z":"c13534fd.0ac5b8","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":969,"y":143,"wires":[]},{"id":"a8c83f58.59fec","type":"change","z":"c13534fd.0ac5b8","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been deleted","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":693.5,"y":97,"wires":[["d46e910a.88896"]]},{"id":"c703c577.83a6e8","type":"change","z":"c13534fd.0ac5b8","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been updated","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":694,"y":147,"wires":[["d46e910a.88896"]]},{"id":"c7833d50.ca5e1","type":"change","z":"c13534fd.0ac5b8","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"New entry has been created","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":694,"y":192,"wires":[["d46e910a.88896"]]},{"id":"cd976f9a.61982","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":143,"y":689,"wires":[["c798e19b.51d3f"]]},{"id":"c798e19b.51d3f","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"msg.topic = \"SELECT * FROM system ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":689,"wires":[["e5ca1c88.60e3d"]]},{"id":"b8c87b65.d71828","type":"function","z":"c13534fd.0ac5b8","name":"Process systems","func":"global.set(\"Diag_System_Buffer\",msg.payload);\n\nvar output = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    //output.push( \"[\"+msg.payload[i].id+\"] \"+msg.payload[i].caption);\n    obj = {};\n    \n    obj [\"[\"+msg.payload[i].sys_id+\"] \"+msg.payload[i].sys_name]=msg.payload[i].sys_id;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":690,"wires":[["768f7214.491f5c"]]},{"id":"768f7214.491f5c","type":"ui_dropdown","z":"c13534fd.0ac5b8","name":"","label":"Select","group":"e89b414b.7a04c","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":856,"y":690,"wires":[["d019dbeb.3e8258"]]},{"id":"5311f53b.5a24ec","type":"ui_text_input","z":"c13534fd.0ac5b8","name":"","label":"Name","group":"e89b414b.7a04c","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":863,"y":808,"wires":[["4b40542b.cb08fc"]]},{"id":"d019dbeb.3e8258","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"global.set(\"diag_system_selected\",msg.payload);\nmsg.topic = \"SELECT * FROM system WHERE sys_id=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":145,"y":804,"wires":[["73f172fe.79d7cc"]]},{"id":"ab19914.693b47","type":"switch","z":"c13534fd.0ac5b8","name":"If no data","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":475,"y":804,"wires":[["719dcf56.fa242","90714649.53d758"]]},{"id":"719dcf56.fa242","type":"change","z":"c13534fd.0ac5b8","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sys_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":675,"y":808,"wires":[["5311f53b.5a24ec"]]},{"id":"c59ef77d.9f9a68","type":"ui_numeric","z":"c13534fd.0ac5b8","name":"","label":"ID","group":"e89b414b.7a04c","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":866,"y":771,"wires":[["6fee824c.b2a41c"]]},{"id":"90714649.53d758","type":"change","z":"c13534fd.0ac5b8","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sys_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":771,"wires":[["c59ef77d.9f9a68"]]},{"id":"78da325a.f2793c","type":"ui_button","z":"c13534fd.0ac5b8","name":"","group":"e89b414b.7a04c","order":0,"width":0,"height":0,"label":"Create New","color":"","bgcolor":"","icon":"add","payload":"","payloadType":"str","topic":"","x":134,"y":618,"wires":[["3125ddb3.ec95f2"]]},{"id":"3125ddb3.ec95f2","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"msg.topic = \"INSERT INTO system (sys_id,sys_name,sys_state) VALUES (101,'New system',0)\";\nglobal.set(\"diag_system_selected\",undefined);\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":618,"wires":[["b5602447.00a238"]]},{"id":"6fee824c.b2a41c","type":"function","z":"c13534fd.0ac5b8","name":"Store value","func":"global.set(\"diag_system_id\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1052,"y":770,"wires":[[]]},{"id":"4b40542b.cb08fc","type":"function","z":"c13534fd.0ac5b8","name":"Store value","func":"global.set(\"diag_system_name\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1054,"y":808,"wires":[[]]},{"id":"d9ce2bfa.e81188","type":"ui_button","z":"c13534fd.0ac5b8","name":"","group":"e89b414b.7a04c","order":0,"width":0,"height":0,"label":"Update selected","color":"","bgcolor":"#FF9000","icon":"mode_edit","payload":"","payloadType":"str","topic":"","x":142,"y":574,"wires":[["d382d082.46497"]]},{"id":"d382d082.46497","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"if (global.get(\"diag_system_selected\")!==undefined) {\n    msg.topic = \"UPDATE system SET \";\n    if (global.get(\"diag_system_id\")!==undefined) {\n        msg.topic = msg.topic+ \"sys_id=\"+global.get(\"diag_system_id\")+\", \";\n    }\n    if (global.get(\"diag_system_name\")!==undefined) {\n        msg.topic = msg.topic+ \"sys_name='\"+global.get(\"diag_system_name\")+\"', \";\n    }\n    msg.topic = msg.topic.substring(0,msg.topic.length-2);\n    msg.topic = msg.topic+ \" WHERE sys_id=\"+global.get(\"diag_system_selected\");\n    global.set(\"diag_system_selected\",undefined);\n    global.set(\"diag_system_id\",undefined);\n    global.set(\"diag_system_name\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":574,"wires":[["7643e362.2f698c"]]},{"id":"82cc3711.7ec6b8","type":"ui_button","z":"c13534fd.0ac5b8","name":"","group":"e89b414b.7a04c","order":0,"width":0,"height":0,"label":"Delete selected","color":"","bgcolor":"#ff5555","icon":"delete","payload":"","payloadType":"str","topic":"","x":143,"y":526,"wires":[["9f53e39c.9b053"]]},{"id":"9f53e39c.9b053","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"if (global.get(\"diag_system_selected\")!==undefined) {\n    msg.topic = \"DELETE FROM system WHERE sys_id=\"+global.get(\"diag_system_selected\");\n    global.set(\"diag_system_selected\",undefined);\n    global.set(\"diag_system_id\",undefined);\n    global.set(\"diag_system_name\",undefined);\n} else {\n    msg.topic = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":526,"wires":[["c36279f.1ecc388"]]},{"id":"4f451aa6.663c64","type":"comment","z":"c13534fd.0ac5b8","name":"Maintenance of the System table","info":"","x":191,"y":479,"wires":[]},{"id":"ec279678.75e718","type":"ui_toast","z":"c13534fd.0ac5b8","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":995,"y":572,"wires":[]},{"id":"55c57ded.f97bf4","type":"change","z":"c13534fd.0ac5b8","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been deleted","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":719.5,"y":526,"wires":[["ec279678.75e718"]]},{"id":"e85636f.c122cc8","type":"change","z":"c13534fd.0ac5b8","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"Selected entry has been updated","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":576,"wires":[["ec279678.75e718"]]},{"id":"a82f23e7.35f26","type":"change","z":"c13534fd.0ac5b8","name":"Toast msg","rules":[{"t":"set","p":"topic","pt":"msg","to":"New entry has been created","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":621,"wires":[["ec279678.75e718"]]},{"id":"edae4e96.1b0c7","type":"comment","z":"c13534fd.0ac5b8","name":"Receiving and processing messages","info":"","x":205,"y":912,"wires":[]},{"id":"d9cba938.bc01b8","type":"link in","z":"c13534fd.0ac5b8","name":"Diagnostic_Update","links":["8f01b77e.213588","1856177c.692aa9","e592d5a5.26bde8","b73c8744.8ec588","59df56a.e8d5aa8","6bc27c2.26eb584","b269471e.f03798","149d2576.aa372b","4f24cc12.704334","85f0d77.da83928","78fed854.1b6aa8","eaf2075b.f08f88","9371bd5d.293c2","8c6c56bb.efe678","2e75adec.578e52","d9ab022c.d40aa","7692ea3d.040324","5c63f003.554","89cc7882.52fb68","ee08c280.18881","31989b49.404cf4","1711c87b.c95a78","858824a8.955768","1ceba7.f7399459","8d86bc97.858bd","c1d8ef52.f0ff9"],"x":101,"y":1018,"wires":[["f994913d.9ddba","b8d6e19c.cf227","901905fa.4388f8","b0ce4b10.9a9948"]]},{"id":"d98719db.ec41c8","type":"function","z":"c13534fd.0ac5b8","name":"Diagnostic input message structure","func":"msg.payload = \"This updates the system status as well\";\nmsg.system = 1; // System id, use 1 for Dummy\nmsg.state = 70; // specify if the message is to change system status\nmsg.severity = 0; // 0: information, 1: warning, 2: error\n//msg.email = true; // if separate email should be sent\n//msg.emailtext = \"\"; this a long text which goes into the email\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":959,"wires":[["8f01b77e.213588"]]},{"id":"e85eadd0.3bdb9","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":960,"wires":[["d98719db.ec41c8"]]},{"id":"8f01b77e.213588","type":"link out","z":"c13534fd.0ac5b8","name":"","links":["d9cba938.bc01b8"],"x":627,"y":959,"wires":[]},{"id":"f994913d.9ddba","type":"function","z":"c13534fd.0ac5b8","name":"Insert message record","func":"var d = new Date();\nvar epoch = d.getTime();\n\nif (msg.state>0) {\n    msg.topic = \"INSERT INTO message (msg_system,msg_severity,msg_text,msg_epoch,msg_newstate) VALUES (\"+msg.system+\",\"+msg.severity+\",'\"+msg.payload+\"',\"+epoch+\",\"+msg.state+\")\";\n} else {\n    msg.topic = \"INSERT INTO message (msg_system,msg_severity,msg_text,msg_epoch) VALUES (\"+msg.system+\",\"+msg.severity+\",'\"+msg.payload+\"',\"+epoch+\")\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":1021,"wires":[["ea73db20.21d1e8"]]},{"id":"b8d6e19c.cf227","type":"switch","z":"c13534fd.0ac5b8","name":"Check status change","property":"state","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":371,"y":1077,"wires":[["d426032a.f48","81a6655e.8d0218"]]},{"id":"d426032a.f48","type":"function","z":"c13534fd.0ac5b8","name":"Status update","func":"msg.topic = \"UPDATE system SET sys_state=\"+msg.state+\" WHERE sys_id=\"+msg.system;\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":1077,"wires":[["ea73db20.21d1e8"]]},{"id":"901905fa.4388f8","type":"switch","z":"c13534fd.0ac5b8","name":"Check email","property":"email","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":339,"y":1127,"wires":[["705b44a8.2d5a8c"]]},{"id":"7d1efc72.c69234","type":"e-mail","z":"c13534fd.0ac5b8","server":"smtp.gmail.com","port":"465","secure":true,"name":"csongor.varga@gmail.com","dname":"Email notification","x":935.8888702392578,"y":1121.3332824707031,"wires":[]},{"id":"705b44a8.2d5a8c","type":"function","z":"c13534fd.0ac5b8","name":"Email content","func":"msg.topic=msg.payload;\nmsg.payload = msg.emailtext;\nreturn msg;","outputs":1,"noerr":0,"x":583,"y":1127,"wires":[["7d1efc72.c69234"]]},{"id":"d487c81d.02d3b8","type":"comment","z":"c13534fd.0ac5b8","name":"System status display","info":"","x":171,"y":1243,"wires":[]},{"id":"c3cda8ce.5f1ea8","type":"template","z":"c13534fd.0ac5b8","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    {{#payload}}\n        <tr>\n            <td style=\"background-color: {{sta_color}};\">{{sys_name}}</td>\n            <td style=\"background-color: {{sta_color}};\">{{sta_title}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":712,"y":1326,"wires":[["2819947f.7fe4dc","3656eff8.1c917"]]},{"id":"2819947f.7fe4dc","type":"ui_template","z":"c13534fd.0ac5b8","group":"96f81b9e.da5978","name":"Status list","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"height:100%;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":918,"y":1324,"wires":[[]]},{"id":"9b4f26e1.9b9038","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"msg.topic = \"SELECT * FROM system, state WHERE sys_state = sta_id ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":1325,"wires":[["a1737e8e.cc6ed"]]},{"id":"56b0dbcc.75b0d4","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":132,"y":1325,"wires":[["9b4f26e1.9b9038"]]},{"id":"3656eff8.1c917","type":"debug","z":"c13534fd.0ac5b8","name":"","active":false,"console":"false","complete":"false","x":924,"y":1393,"wires":[]},{"id":"88ac8dd1.0c669","type":"comment","z":"c13534fd.0ac5b8","name":"Message Log","info":"","x":128,"y":1483,"wires":[]},{"id":"136c0f5c.18f831","type":"template","z":"c13534fd.0ac5b8","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>Severity</th><th>Timestamp</th><th>System</th><th>Message</th></tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{msg_severity}}</td>\n            <td>{{msg_timestamp}}</td>\n            <td>{{sys_name}}</td>\n            <td>{{msg_text}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":727,"y":1878,"wires":[["e1e9aef4.70d98"]]},{"id":"e1e9aef4.70d98","type":"ui_template","z":"c13534fd.0ac5b8","group":"6253ae38.ff444","name":"Log output","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"height:400;\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":948,"y":1878,"wires":[[]]},{"id":"1664cbca.abc164","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"context.set(msg.topic,msg.payload);\n\nvar d = new Date();\nvar epoch = d.getTime();\nvar fromdate = 0;\nvar enddate = 0;\n\nmsg.topic = \"SELECT * FROM message, system WHERE msg_system = sys_id \";\n\nif (context.get(\"msg_severity\")!==undefined) {\n    if (context.get(\"msg_severity\")!==\"*\") {\n        msg.topic = msg.topic + \" AND msg_severity = \"+context.get(\"msg_severity\");\n    }\n}\n\nif (context.get(\"msg_system\")!==undefined) {\n    if (context.get(\"msg_system\")!==\"*\") {\n        msg.topic = msg.topic + \" AND msg_system = \"+context.get(\"msg_system\");\n    }\n}\n\nif (context.get(\"msg_newstate\")===1) {\n    msg.topic = msg.topic + \" AND msg_newstate IS NOT NULL \";\n}\n\nif (context.get(\"msg_time\")!==undefined) {\n    switch (context.get(\"msg_time\")) {\n        case 0:\n            fromdate = epoch - 1000*60*60*24;\n            msg.topic = msg.topic + \" AND msg_epoch > \"+fromdate;\n            break;\n        case 1:\n            fromdate = epoch - 1000*60*60*24*7;\n            msg.topic = msg.topic + \" AND msg_epoch > \"+fromdate;\n            break;\n        case 2:\n            fromdate = epoch - 1000*60*60*24*30;\n            msg.topic = msg.topic + \" AND msg_epoch > \"+fromdate;\n            break;\n    }\n}\n\n// msg.topic = msg.topic.substring(0,msg.topic.length-2);\nmsg.topic = msg.topic+ \" ORDER BY msg_id\";\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":1877,"wires":[["8846bd87.04344"]]},{"id":"a7398aa1.c1ef28","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147,"y":1877,"wires":[["1664cbca.abc164"]]},{"id":"b06e9402.b6ad38","type":"ui_button","z":"c13534fd.0ac5b8","name":"","group":"6253ae38.ff444","order":2,"width":"3","height":"1","label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"msg_refresh","x":550,"y":1587,"wires":[["1664cbca.abc164"]]},{"id":"8feed731.e39548","type":"ui_dropdown","z":"c13534fd.0ac5b8","name":"Severity","label":"","group":"6253ae38.ff444","order":3,"width":"4","height":"1","passthru":true,"options":[{"label":"All severity","value":"*","type":"str"},{"label":"Information only","value":0,"type":"num"},{"label":"Warnings only","value":1,"type":"num"},{"label":"Errors only","value":2,"type":"num"}],"payload":"","topic":"msg_severity","x":549,"y":1633,"wires":[["1664cbca.abc164"]]},{"id":"c0eebdff.1cd39","type":"ui_dropdown","z":"c13534fd.0ac5b8","name":"Time filter","label":"","group":"6253ae38.ff444","order":4,"width":"4","height":"1","passthru":true,"options":[{"label":"Last 24 hrs","value":0,"type":"num"},{"label":"Last 7 days","value":1,"type":"num"},{"label":"Last 30 days","value":2,"type":"num"},{"label":"All","value":3,"type":"num"}],"payload":"","topic":"msg_time","x":551,"y":1680,"wires":[["1664cbca.abc164"]]},{"id":"44a6e618.08afe8","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":127,"y":1625,"wires":[["beaf3876.0f9418","8644dcf9.14ba8","ae420ec.e4973f"]]},{"id":"beaf3876.0f9418","type":"change","z":"c13534fd.0ac5b8","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":357,"y":1633,"wires":[["8feed731.e39548","ac0424b7.4b4328"]]},{"id":"8644dcf9.14ba8","type":"change","z":"c13534fd.0ac5b8","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":1679,"wires":[["c0eebdff.1cd39"]]},{"id":"b0ce4b10.9a9948","type":"ui_toast","z":"c13534fd.0ac5b8","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":355.5,"y":1181,"wires":[]},{"id":"cfdde9f2.deecf8","type":"ui_dropdown","z":"c13534fd.0ac5b8","name":"New State","label":"","group":"6253ae38.ff444","order":5,"width":"4","height":"1","passthru":true,"options":[{"label":"All messages","value":0,"type":"num"},{"label":"Only new status","value":1,"type":"num"}],"payload":"","topic":"msg_newstate","x":561,"y":1726,"wires":[["1664cbca.abc164"]]},{"id":"ae420ec.e4973f","type":"change","z":"c13534fd.0ac5b8","name":"Initial value","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":1728,"wires":[["cfdde9f2.deecf8"]]},{"id":"8da25691.aa57c8","type":"link out","z":"c13534fd.0ac5b8","name":"System List Updated","links":["334a2b55.109674"],"x":905,"y":645,"wires":[]},{"id":"14c9c128.0b1fef","type":"ui_dropdown","z":"c13534fd.0ac5b8","name":"System","label":"","group":"6253ae38.ff444","order":6,"width":"5","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"msg_system","x":548,"y":1536,"wires":[["1664cbca.abc164"]]},{"id":"334a2b55.109674","type":"link in","z":"c13534fd.0ac5b8","name":"","links":["8da25691.aa57c8"],"x":197,"y":1537,"wires":[["c435d7c7.a82718"]]},{"id":"c435d7c7.a82718","type":"function","z":"c13534fd.0ac5b8","name":"Process systems","func":"var output = [];\noutput.push({\"All systems\":\"*\"});\nfor (var i = 0; i < msg.payload.length; i++) {\n    obj = {};\n    obj [\"[\"+msg.payload[i].sys_id+\"] \"+msg.payload[i].sys_name]=msg.payload[i].sys_id;\n    output.push(obj);\n}\nmsg.options = output;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":1536,"wires":[["14c9c128.0b1fef"]]},{"id":"ac0424b7.4b4328","type":"delay","z":"c13534fd.0ac5b8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":354.5,"y":1586,"wires":[["14c9c128.0b1fef"]]},{"id":"24501e99.9f6392","type":"comment","z":"c13534fd.0ac5b8","name":"Message Archiving","info":"","x":145,"y":1949,"wires":[]},{"id":"fc7f04e8.5a76b8","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139,"y":2006,"wires":[["174d39d6.eb7726"]]},{"id":"237e23f7.7f2d2c","type":"link in","z":"c13534fd.0ac5b8","name":"Diag email notification in","links":["3bdde187.1895fe","bb4fbe72.28a2e"],"x":710.6666666666666,"y":1199.111111111111,"wires":[["7d1efc72.c69234"]]},{"id":"df320600.876b18","type":"comment","z":"c13534fd.0ac5b8","name":"Diagnostic Daily Digest","info":"","x":139.3333282470703,"y":2101.777587890625,"wires":[]},{"id":"174d39d6.eb7726","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"var d = new Date();\nvar epoch = d.getTime();\n\n// today - 30 days\nvar fromdate = epoch - 1000*60*60*24*30;\n\nmsg.topic = \"DELETE * FROM message WHERE msg_epoch < \"+fromdate;\n\nreturn msg;","outputs":1,"noerr":0,"x":306,"y":2006,"wires":[["7e5d60af.5310d"]]},{"id":"73a96b78.38b7c4","type":"template","z":"c13534fd.0ac5b8","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <tr><th>System</th><th>Status</th></tr>\n    {{#payload}}\n        <tr>\n            <td>{{sys_name}}</td>\n            <td style=\"background-color: {{sta_color}};\">{{sta_title}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":746.8888549804688,"y":2161.888345718384,"wires":[["6a99c673.b80178"]]},{"id":"fff6cd7.2618c3","type":"function","z":"c13534fd.0ac5b8","name":"System State Summary","func":"msg.topic = \"SELECT * FROM system, state WHERE sys_state = sta_id ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":368.77777099609375,"y":2162.888589859009,"wires":[["edcdce37.bf024"]]},{"id":"1bdf0acf.f68775","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"x":140.44444274902344,"y":2162.888589859009,"wires":[["fff6cd7.2618c3","897cf065.4956b","18fa0199.68974e","6889e102.e6ec6","770daac9.21e974","1d8b4c61.6ea5e4","157ab9af.1a11a6"]]},{"id":"ec0031f0.54bbc","type":"join","z":"c13534fd.0ac5b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"<br/>","timeout":"5","count":"8","x":1288.222183227539,"y":2155.5280361175537,"wires":[["6bf91acc.d451b4"]]},{"id":"bf919290.de136","type":"template","z":"c13534fd.0ac5b8","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><td class=\"solidline\"><b>Severity</b></td><td class=\"solidline\"><b>Timestamp</b></td><td class=\"solidline\"><b>System</b></td><td class=\"solidline\"><b>Message</b></td></tr>\n    {{#payload}}\n        <tr style=\"border-bottom: 1px dotted #e0e0e0;\">\n            <td class=\"dottedline\">{{msg_severity}}</td>\n            <td class=\"dottedline\">{{msg_timestamp}}</td>\n            <td class=\"dottedline\">{{sys_name}}</td>\n            <td class=\"dottedline\">{{msg_text}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","x":735.9999923706055,"y":2231.7775650024414,"wires":[["dadce016.3b04e"]]},{"id":"48456af.2733f94","type":"function","z":"c13534fd.0ac5b8","name":"Messages","func":"var d = new Date();\nvar epoch = d.getTime();\nvar fromdate = 0;\nfromdate = epoch - 1000*60*60*24;\n\nmsg.topic = \"SELECT * FROM message, system WHERE msg_system = sys_id AND msg_epoch > \"+fromdate;\nmsg.topic = msg.topic+ \" ORDER BY msg_id\";\n\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":337.5555419921875,"y":2232.888589859009,"wires":[["3c41b21.a63474e"]]},{"id":"897cf065.4956b","type":"delay","z":"c13534fd.0ac5b8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":134.7777862548828,"y":2232.888833999634,"wires":[["48456af.2733f94"]]},{"id":"e73a0ed5.9ea37","type":"comment","z":"c13534fd.0ac5b8","name":"System Status Stat Reset","info":"","x":157.13888549804688,"y":2650.749917984009,"wires":[]},{"id":"a126659f.2031f8","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":158.24999237060547,"y":2716.305337905884,"wires":[["f26d5668.9ddab8"]]},{"id":"f6765d60.ddb3b","type":"function","z":"c13534fd.0ac5b8","name":"Reset log","func":"global.set(\"Diag_System_Buffer\",msg.payload);\n\nvar d = new Date();\nvar current = d.getTime();\nvar output = [];\n\nif (msg.payload!==undefined) {\n    for (var i = 0; i < msg.payload.length; i++) {\n        output = [];\n        output.push( { state: msg.payload[i].sys_state, epoch: current } );\n        global.set(msg.payload[i].sys_name.replace(\" \",\"_\")+\"_statestat\",output);\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":650.6944274902344,"y":2717.194253921509,"wires":[["d8d77b1f.35f968"]]},{"id":"d8d77b1f.35f968","type":"debug","z":"c13534fd.0ac5b8","name":"","active":false,"console":"false","complete":"false","x":821.8054809570312,"y":2717.305582046509,"wires":[]},{"id":"81a6655e.8d0218","type":"function","z":"c13534fd.0ac5b8","name":"Update state stat","func":"var systembuf = global.get(\"Diag_System_Buffer\");\nvar d = new Date();\nvar current = d.getTime();\nvar sys_name = \"\";\n\n// find the system name\nfor (var i=0; i<systembuf.length; i++) {\n    if (systembuf[i].sys_id===msg.system) {\n        sys_name = systembuf[i].sys_name;\n    }\n}\n\nvar statestat = global.get(sys_name.replace(\" \",\"_\")+\"_statestat\");\nif (statestat===undefined) {\n    statestat = [];\n}\n\nstatestat.push({state: msg.state, epoch: current});\nglobal.set(sys_name.replace(\" \",\"_\")+\"_statestat\",statestat);\n\nreturn msg;","outputs":1,"noerr":0,"x":643,"y":1042,"wires":[[]]},{"id":"4783743e.9d0a4c","type":"function","z":"c13534fd.0ac5b8","name":"Generate state stat","func":"var statebuf = global.get(\"Diag_State_Buffer\");\nvar d = new Date();\nvar current = d.getTime();\nvar sys_name = \"\";\nvar html = \"<table width='100%'>\";\n\nfor (var i=0; i<msg.payload.length; i++) {\n    html = html + \"<tr><td nowrap>\" + msg.payload[i].sys_name + \"</td><td width='100%'><table height='100%' width='100%'><tr>\";\n    var statestat = global.get(msg.payload[i].sys_name.replace(\" \",\"_\")+\"_statestat\");\n    var width = 0;\n    for (var j=0; j<statestat.length; j++) {\n        if (j===statestat.length-1) {\n            // this is the last item in the list\n            width=Math.floor((current-statestat[j].epoch)/(current-statestat[0].epoch)*100+0.999999999);\n        } else {\n            // this is not the last item in the list\n            width=Math.floor((statestat[j+1].epoch-statestat[j].epoch)/(current-statestat[0].epoch)*100+0.999999999);\n        }\n        \n        // find the color for the state\n        var mycolor = \"\";\n        for (var k=0; k<statebuf.length; k++) {\n            if (statebuf[k].sta_id===statestat[j].state) {\n                mycolor = statebuf[k].sta_color;\n            }\n        }\n        \n        html = html + \"<td style='background-color:\" + mycolor + \"; width:\" + width + \"%'>&nbsp;</td>\";\n    }\n    html = html + \"</tr></table></td></tr>\\n\";\n}\nhtml = html + \"</table>\\n\";\n\nmsg.payload = html;\n\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":2298.999917984009,"wires":[["e66437d.3813cc8","f26d5668.9ddab8"]]},{"id":"f26d5668.9ddab8","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"msg.topic = \"SELECT * FROM system ORDER BY sys_id\";\nreturn msg;","outputs":1,"noerr":0,"x":339.25,"y":2716.749917984009,"wires":[["1285f1fa.0621de"]]},{"id":"306e970b.d17088","type":"function","z":"c13534fd.0ac5b8","name":"Dump state stat","func":"var systembuf = global.get(\"Diag_System_Buffer\");\nvar d = new Date();\nvar current = d.getTime();\nvar sys_name = \"\";\nvar output = [];\nvar statestat = [];\n\n// find the system name\nfor (var i=0; i<systembuf.length; i++) {\n    sys_name = systembuf[i].sys_name;\n    //var statestat = \"none\";\n    statestat = global.get(sys_name.replace(\" \",\"_\")+\"_statestat\");\n    if (statestat===undefined) {\n        statestat=[];\n    }\n    output.push({system: sys_name, stat: statestat});\n}\n\nmsg.payload = output;\n\nreturn msg;","outputs":1,"noerr":0,"x":374.2500305175781,"y":2845.035888671875,"wires":[["8026e284.ca5ef"]]},{"id":"8026e284.ca5ef","type":"debug","z":"c13534fd.0ac5b8","name":"","active":true,"console":"false","complete":"false","x":634.1071510314941,"y":2846.4644412994385,"wires":[]},{"id":"88c33e71.8d64b","type":"inject","z":"c13534fd.0ac5b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":154.1071510314942,"y":2843.6072984422954,"wires":[["306e970b.d17088"]]},{"id":"851a071c.7aa568","type":"comment","z":"c13534fd.0ac5b8","name":"Debugging","info":"","x":89.82142639160156,"y":2792.1787109375,"wires":[]},{"id":"6bf91acc.d451b4","type":"template","z":"c13534fd.0ac5b8","name":"Email body","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body style=\"margin:0; padding:0;\" bgcolor=\"#f2f2f2\" leftmargin=\"0\" t=\nopmargin=\"0\" marginwidth=\"0\" marginheight=\"0\">\n<style>\n   body {\n    margin: 0;\n    padding: 0;\n    -ms-text-size-adjust: 100%;\n    -webkit-text-size-adjust: 100%;\n    font-family: 'Roboto', Helvetica, Arial, sans-serif;\n  }\n\n  table {\n    border-spacing: 0;\n  }\n\n  table td {\n    border-collapse: collapse;\n  }\n\n  .ReadMsgBody {\n    width: 100%;\n    background-color: #ebebeb;\n  }\n  \n  .divider {\n    border-bottom: 1px solid #e2066e;\n  }\n  \n  td.solidline {\n      border-bottom: 1px solid #e0e0e0;\n  }\n  \n  td.dottedline {\n      border-bottom: 1px dotted #e0e0e0;\n  }  \n\n</style>        \n\n<table border=\"0\" width=\"100%\" height=\"100%\" cellpadding=\"0\" cellsp=\nacing=\"0\" bgcolor=\"#ffffff\" style=\"border: 20px solid #f2f2f2;\">\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        \n        <p style=\"text-align: right;\"><span style=\"font-size:150%;\">{{{payload.title}}}</span><br/>\n        <span style=\"font-size:80%;\">{{{payload.date}}}</span></p>\n        <table bgcolor=\"#f3f3f3\" cellspacing=\"4\" align=\"center\"><tr><td bgcolor=\"#ffffff\" width=\"120\">{{{payload.solar1}}}</td><td bgcolor=\"#ffffff\" width=\"120\">{{{payload.solar2}}}</td><td bgcolor=\"#ffffff\" width=\"120\">{{{payload.solar3}}}</td></tr></table>\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n  <tr><td style=\"border-bottom: 1px solid #e2066e;\" colspan=\"3\"></td></tr>\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        {{{payload.state_summary}}}\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n  <tr><td style=\"border-bottom: 1px solid #e2066e;\" colspan=\"3\"></td></tr>\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        {{{payload.state_stat}}}\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n  <tr><td style=\"border-bottom: 1px solid #e2066e;\" colspan=\"3\"></td></tr>\n  <tr><td valign=\"top\" width=\"20\"></td><td valign=\"top\">\n        {{{payload.messages}}}\n  </td><td valign=\"top\" width=\"20\"></td></tr>\n \n</table>\n    </body>\n</html>","x":1461.000057220459,"y":2155.527823448181,"wires":[["e8471c0d.60a64"]]},{"id":"e8471c0d.60a64","type":"change","z":"c13534fd.0ac5b8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Daily Diagnostic Report","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1653.222324371338,"y":2155.5279865264893,"wires":[["bb4fbe72.28a2e"]]},{"id":"bb4fbe72.28a2e","type":"link out","z":"c13534fd.0ac5b8","name":"","links":["237e23f7.7f2d2c"],"x":1785.4446334838867,"y":2155.528067588806,"wires":[]},{"id":"6a99c673.b80178","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"state_summary","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":918.2222290039062,"y":2163.2220611572266,"wires":[["ec0031f0.54bbc"]]},{"id":"dadce016.3b04e","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":904.4444732666016,"y":2231.4444522857666,"wires":[["ec0031f0.54bbc"]]},{"id":"e66437d.3813cc8","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"state_stat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":902.6666259765625,"y":2296.222085952759,"wires":[["ec0031f0.54bbc"]]},{"id":"18fa0199.68974e","type":"function","z":"c13534fd.0ac5b8","name":"Run date","func":"// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nmsg.payload = dd + \".\" + mm + \".\" + yyyy + \".\";    \n      \nreturn msg;","outputs":1,"noerr":0,"x":336,"y":2356.499917984009,"wires":[["9266170a.625728"]]},{"id":"9266170a.625728","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"date","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":903.5,"y":2355.249917984009,"wires":[["ec0031f0.54bbc"]]},{"id":"7bc839e3.2d0bf8","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"title","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":904.75,"y":2405.249917984009,"wires":[["ec0031f0.54bbc"]]},{"id":"6889e102.e6ec6","type":"change","z":"c13534fd.0ac5b8","name":"Report title","rules":[{"t":"set","p":"payload","pt":"msg","to":"Node Red Diagnistic Daily Report","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":344.75,"y":2403.999917984009,"wires":[["7bc839e3.2d0bf8"]]},{"id":"770daac9.21e974","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_30d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_30d;\nenddate = enddate - p_30d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];","outputs":1,"noerr":0,"x":326.50000381469727,"y":2457.4999647140503,"wires":[["5c77ec9b.0fa5d4"]]},{"id":"467674b4.9deacc","type":"join","z":"c13534fd.0ac5b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":604.5000038146973,"y":2456.4999647140503,"wires":[["6bbb36b6.162588"]]},{"id":"6bbb36b6.162588","type":"function","z":"c13534fd.0ac5b8","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 30 days\";\nmsg.current = Math.floor(msg.payload[0][0].value/1000);\nmsg.unit = \"kWh\";\nmsg.reference = Math.floor(msg.payload[1][0].value/1000);\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"&#8679;\";\n    msg.trendcolor = \"green\";\n} else {\n    msg.trend = \"&#8681;\";\n    msg.trendcolor = \"red\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":766.5000038146973,"y":2456.4999647140503,"wires":[["196c5164.427fbf"]]},{"id":"1d8b4c61.6ea5e4","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h - p_7d;\nenddate = today0h;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\nfromdate = fromdate - p_7d;\nenddate = enddate - p_7d;\nsql.push({ topic: \"SELECT sum(value) AS value FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch >= \" + fromdate + \" AND epoch <= \" + enddate });\n\n// set the completed flag for the join node later\nsql[sql.length-1].complete=true;\n\nreturn [ sql ];","outputs":1,"noerr":0,"x":324.50000381469727,"y":2509.4999647140503,"wires":[["a9be59ce.ef0928"]]},{"id":"60f4f22e.2872cc","type":"join","z":"c13534fd.0ac5b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":602.5000038146973,"y":2508.4999647140503,"wires":[["ec474cf2.72001"]]},{"id":"ec474cf2.72001","type":"function","z":"c13534fd.0ac5b8","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation in last 7 days\";\nmsg.current = parseFloat(msg.payload[0][0].value/1000).toFixed(1);\nmsg.unit = \"kWh\";\nmsg.reference = Math.abs(Math.floor((msg.payload[0][0].value-msg.payload[1][0].value)/msg.payload[0][0].value*100)) + \"%\";\nif (msg.payload[0][0].value>msg.payload[1][0].value) {\n    msg.trend = \"&#8679;\";\n    msg.trendcolor = \"green\";\n} else {\n    msg.trend = \"&#8681;\";\n    msg.trendcolor = \"red\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":764.5000038146973,"y":2508.4999647140503,"wires":[["2690d705.68ac28"]]},{"id":"157ab9af.1a11a6","type":"function","z":"c13534fd.0ac5b8","name":"SQL","func":"var p_30d  = 1000*60*60*24*30 ; //30 Days\nvar p_7d  = 1000*60*60*24*7 ; //7 Days\nvar p_1d   =  1000*60*60*24 ; // 1 Day\nvar d = new Date();\nvar current = d.getTime();\nvar today0h = d.setHours(0,0,0,0);\nvar day = d.getDay();\nvar monday0h = today0h - (day + (day === 0 ? -6:1)) * p_1d;\nvar fromdate = 0;\nvar enddate = 0;\nvar sql = [];\n\nfromdate = today0h-p_1d;\nmsg.topic= \"SELECT * FROM sensor_aggr WHERE device='growatt' AND sensor='today' AND epoch = \" + fromdate + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":329.50000381469727,"y":2564.4999647140503,"wires":[["79becf19.74423"]]},{"id":"bdbb4a89.4fcb48","type":"function","z":"c13534fd.0ac5b8","name":"Prep Data","func":"// Output format for the ui_template node\n// msg.current: current values displayed in large numbers\n// msg.unit: unit value shown under the current value\n// msg.trend = up|down: displays the up/down trend arrow\n// msg.reference: reference/past value displayed in smaller numbers\n// msg.title: KPI title shown on the top\n\nmsg.title = \"Solar generation yesterday vs. max\";\nmsg.current = parseFloat(msg.payload[0].value/1000).toFixed(2);\nmsg.unit = \"kWh\";\nvar width = Math.abs(Math.floor(msg.payload[0].value/20000*100));\nmsg.reference = width.toString() + \"%\";\nmsg.reference2 = (100-width).toString() + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":634.5000038146973,"y":2563.4999647140503,"wires":[["c45ecff7.804df"]]},{"id":"196c5164.427fbf","type":"template","z":"c13534fd.0ac5b8","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{current}}</span><br/>{{unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold; color:{{trendcolor}}; background-color:white;\">{{{trend}}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{reference}}</td>\n        </tr>\n    </table>\n","x":938.5000152587891,"y":2456.4999656677246,"wires":[["7f51c6.61f16e3c"]]},{"id":"2690d705.68ac28","type":"template","z":"c13534fd.0ac5b8","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <table width=\"100%\" height=\"100%\">\n        <tr>\n            <td colspan=\"2\">{{title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{current}}</span><br/>{{unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold; color:{{trendcolor}}; background-color:white;\">{{{trend}}}</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{reference}}</td>\n        </tr>\n    </table>\n","x":936.0000152587891,"y":2508.9999656677246,"wires":[["920e70ac.cd0aa"]]},{"id":"c45ecff7.804df","type":"template","z":"c13534fd.0ac5b8","name":"Formatting","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <table width=\"100%\" height=\"100%\" style=\"border-collapse: collapse;\">\n        <tr>\n            <td colspan=\"2\">{{title}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" style=\"text-align: center;\"><span style=\"font-size: 300%; font-weight: bold;\">{{current}}</span><br/>{{unit}}</td>\n            <td style=\"text-align: center; font-size: 300%; font-weight: bold; color:{{trendcolor}}; background-color:white;\">&nbsp;</td>\n        </tr>\n        <tr>\n            <td style=\"text-align: center; font-style: italic;\">{{reference}}</td>\n        </tr>\n        <tr style=\"background-color: lightgrey;\"><td colspan=\"2\">\n            <table width=\"100%\" height=\"100%\" style=\"border-collapse: collapse;\"><tr>\n            <td width={{reference}} style=\"border-bottom: 6px solid blue;\"></td><td width={{reference2}}></td>\n            </tr></table></td>\n        </tr>\n    </table>\n","x":807.2500152587891,"y":2562.7499656677246,"wires":[["74614fcc.abee2"]]},{"id":"7f51c6.61f16e3c","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"solar1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1104.75,"y":2457.749917984009,"wires":[["ec0031f0.54bbc"]]},{"id":"920e70ac.cd0aa","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"solar2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1102.25,"y":2511.499917984009,"wires":[["ec0031f0.54bbc"]]},{"id":"74614fcc.abee2","type":"change","z":"c13534fd.0ac5b8","name":"Set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"solar3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1103.500015258789,"y":2562.7499656677246,"wires":[["ec0031f0.54bbc"]]},{"id":"fc309c34.c3705","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":444,"y":260,"wires":[["f2f733ca.8685b"]]},{"id":"b41b8878.e02398","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":283,"y":375,"wires":[["29b40d5f.47db82"]]},{"id":"978953bf.ad3e4","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":457,"y":189,"wires":[["f37b1594.3a6928","c7833d50.ca5e1"]]},{"id":"492496d6.239558","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":459,"y":143,"wires":[["f37b1594.3a6928","c703c577.83a6e8"]]},{"id":"e8cd8c6c.d77ef","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":458,"y":98,"wires":[["f37b1594.3a6928","a8c83f58.59fec"]]},{"id":"e5ca1c88.60e3d","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":470,"y":689,"wires":[["b8c87b65.d71828","8da25691.aa57c8"]]},{"id":"73f172fe.79d7cc","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":309,"y":804,"wires":[["ab19914.693b47"]]},{"id":"b5602447.00a238","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":483,"y":618,"wires":[["c798e19b.51d3f","a82f23e7.35f26"]]},{"id":"7643e362.2f698c","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":485,"y":572,"wires":[["c798e19b.51d3f","e85636f.c122cc8"]]},{"id":"c36279f.1ecc388","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":484,"y":527,"wires":[["c798e19b.51d3f","55c57ded.f97bf4"]]},{"id":"ea73db20.21d1e8","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":977,"y":1022,"wires":[["9b4f26e1.9b9038"]]},{"id":"a1737e8e.cc6ed","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":472,"y":1326,"wires":[["c3cda8ce.5f1ea8","3656eff8.1c917"]]},{"id":"8846bd87.04344","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":502,"y":1877,"wires":[["136c0f5c.18f831"]]},{"id":"7e5d60af.5310d","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":502,"y":2006,"wires":[[]]},{"id":"edcdce37.bf024","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":560.7777709960938,"y":2161.888589859009,"wires":[["73a96b78.38b7c4","4783743e.9d0a4c"]]},{"id":"3c41b21.a63474e","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":544.3333129882812,"y":2231.888589859009,"wires":[["bf919290.de136"]]},{"id":"1285f1fa.0621de","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"3187c06b.70165","name":"Diag DB","x":492.25,"y":2716.749917984009,"wires":[["f6765d60.ddb3b"]]},{"id":"5c77ec9b.0fa5d4","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"1c25415d.b8427f","name":"DB","x":471.50000381469727,"y":2456.4999647140503,"wires":[["467674b4.9deacc"]]},{"id":"a9be59ce.ef0928","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"1c25415d.b8427f","name":"DB","x":469.50000381469727,"y":2508.4999647140503,"wires":[["60f4f22e.2872cc"]]},{"id":"79becf19.74423","type":"sqlite","z":"c13534fd.0ac5b8","mydb":"1c25415d.b8427f","name":"DB","x":474.50000381469727,"y":2563.4999647140503,"wires":[["bdbb4a89.4fcb48"]]},{"id":"b15bdec1.a0ae","type":"ui_group","z":"","name":"State Administration","tab":"154723c4.c4912c","disp":true,"width":"6"},{"id":"e89b414b.7a04c","type":"ui_group","z":"","name":"System Administration","tab":"154723c4.c4912c","order":3,"disp":true,"width":"6"},{"id":"96f81b9e.da5978","type":"ui_group","z":"","name":"System Status","tab":"154723c4.c4912c","disp":true,"width":"6"},{"id":"6253ae38.ff444","type":"ui_group","z":"","name":"System Messages","tab":"154723c4.c4912c","disp":true,"width":"24"},{"id":"154723c4.c4912c","type":"ui_tab","z":"","name":"Logs","icon":"message","order":11}]
